<!DOCTYPE HTML>
<html lang="{{ language }}" class="sidebar-visible no-js {{ default_theme }}">
	<head>
		<!-- Book generated using mdBook -->
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		{{#if is_print }}
		<meta name="robots" content="noindex" />
		{{/if}}
		{{#if base_url}}
		<base href="{{ base_url }}">
		{{/if}}

		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="description" content="{{ description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#ffffff" />

		<link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
		<link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
		<link rel="stylesheet" href="{{ path_to_root }}css/general.css">
		<link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
		<link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">
	</head>
	<body>
		<!-- Provide site root to javascript -->
		<script type="text/javascript">
			var path_to_root = "{{ path_to_root }}";
			var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";
		</script>
		<!-- Work around some values being stored in localStorage wrapped in quotes -->
		<script type="text/javascript">
			try {
				var theme = localStorage.getItem('mdbook-theme');
				var sidebar = localStorage.getItem('mdbook-sidebar');

				if (theme.startsWith('"') && theme.endsWith('"')) {
					localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
				}
				if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
					localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
				}
			} catch (e) { }
		</script>

		<!-- Set the theme before any content is loaded, prevents flash -->
		<script type="text/javascript">
			var theme;
			try { theme = localStorage.getItem('mdbook-theme'); } catch(e) { }
			if (theme === null || theme === undefined) { theme = default_theme; }
			var html = document.querySelector('html');
			html.classList.remove('no-js')
			html.classList.remove('{{ default_theme }}')
			html.classList.add(theme);
			html.classList.add('js');
		</script>

		<!-- Hide / unhide sidebar before it is displayed -->
		<script type="text/javascript">
			var html = document.querySelector('html');
			var sidebar = 'hidden';
			if (document.body.clientWidth >= 1080) {
				try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
				sidebar = sidebar || 'visible';
			}
			html.classList.remove('sidebar-visible');
			html.classList.add("sidebar-" + sidebar);
		</script>

		<header>
			<nav id="void-nav">
				<ul>
					<li><a id="skip-to-content" tabindex="1" href="#main">Skip to content</a></li>
					<li>
						<a id="sidebar-toggle" class="icon-button" type="button" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
								<path d="M1 3v2h18V3zm0 8h18V9H1zm0 6h18v-2H1z"/>
							</svg>
						</a>
					</li>
					<li>
						<a id="theme-toggle" class="icon-button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
							<svg id="icon-theme-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path d="M256 159.1c-53.02 0-95.1 42.98-95.1 95.1S202.1 351.1 256 351.1s95.1-42.98 95.1-95.1S309 159.1 256 159.1zM509.3 347L446.1 255.1l63.15-91.01c6.332-9.125 1.104-21.74-9.826-23.72l-109-19.7l-19.7-109c-1.975-10.93-14.59-16.16-23.72-9.824L256 65.89L164.1 2.736c-9.125-6.332-21.74-1.107-23.72 9.824L121.6 121.6L12.56 141.3C1.633 143.2-3.596 155.9 2.736 164.1L65.89 256l-63.15 91.01c-6.332 9.125-1.105 21.74 9.824 23.72l109 19.7l19.7 109c1.975 10.93 14.59 16.16 23.72 9.824L256 446.1l91.01 63.15c9.127 6.334 21.75 1.107 23.72-9.822l19.7-109l109-19.7C510.4 368.8 515.6 356.1 509.3 347zM256 383.1c-70.69 0-127.1-57.31-127.1-127.1c0-70.69 57.31-127.1 127.1-127.1s127.1 57.3 127.1 127.1C383.1 326.7 326.7 383.1 256 383.1z"/>
							</svg>
							<svg id="icon-theme-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"/>
							</svg>
						</a>
					</li>
					{{#if print_enable}}
					<li>
						<a href="{{ path_to_root }}print.html" title="Print this book" aria-label="Print this book">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path d="M448 192V77.25c0-8.49-3.37-16.62-9.37-22.63L393.37 9.37c-6-6-14.14-9.37-22.63-9.37H96C78.33 0 64 14.33 64 32v160c-35.35 0-64 28.65-64 64v112c0 8.84 7.16 16 16 16h48v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h48c8.84 0 16-7.16 16-16V256c0-35.35-28.65-64-64-64zm-64 256H128v-96h256v96zm0-224H128V64h192v48c0 8.84 7.16 16 16 16h48v96zm48 72c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"/>
							</svg>
						</a>
					</li>
					{{/if}}
					{{#if git_repository_edit_url}}
					<li>
						<a href="{{git_repository_edit_url}}" title="Suggest an edit" aria-label="Suggest an edit">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
							</svg>
						</a>
					</li>
					{{/if}}
					{{#if search_enabled}}
					<li>
						<a id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
								<path d="M7.5 13c3.04 0 5.5-2.46 5.5-5.5S10.54 2 7.5 2 2 4.46 2 7.5 4.46 13 7.5 13zm4.55.46C10.79 14.43 9.21 15 7.5 15 3.36 15 0 11.64 0 7.5S3.36 0 7.5 0C11.64 0 15 3.36 15 7.5c0 1.71-.57 3.29-1.54 4.55l6.49 6.49-1.41 1.41-6.49-6.49z"/>
							</svg>
						</a>
					</li>
					<noscript>
						<li class="js-unavailable">Search functionality requires JavaScript</li>
					</noscript>
					{{/if}}
				</ul>
				<ul id="nav-right">
					<li><a href="https://www.voidlinux.org">Home</a></li>
					<li><a href="https://www.voidlinux.org/news/">News</a></li>
					<li><a href="https://www.voidlinux.org/download/">Download</a></li>
					<li><a href="https://www.voidlinux.org/packages/">Packages</a></li>
					<li><a href="https://docs.voidlinux.org">Documentation</a></li>
					<li><a href="https://man.voidlinux.org/">Manual Pages</a></li>
					<li><a href="https://github.com/void-linux">GitHub</a></li>
				</ul>
			</nav>
		</header>

		<div id="content">
			<!-- Hide / unhide sidebar before it is displayed -->
			<script type="text/javascript">
				var html = document.querySelector('html');
				var sidebar = 'hidden';
				if (document.body.clientWidth >= 1080) {
					try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
					sidebar = sidebar || 'visible';
				}
				html.classList.remove('sidebar-visible');
				html.classList.add("sidebar-" + sidebar);
			</script>

			<nav id="sidebar" aria-label="Table of contents">
				{{#toc}}{{/toc}}
			</nav>

			<div id="page-wrapper" class="page-wrapper">


					{{#if search_enabled}}
					<div id="search-wrapper" class="hidden">
						<form id="searchbar-outer" class="searchbar-outer">
							<input type="search" name="search" id="searchbar" placeholder="Search this book ..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
						</form>
						<div id="searchresults-outer" class="searchresults-outer hidden">
							<div id="searchresults-header" class="searchresults-header"></div>
							<ul id="searchresults">
							</ul>
						</div>
					</div>
					{{/if}}

					<!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
					<script type="text/javascript">
						document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
						document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
						Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
							link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
						});
					</script>

					<main id="main">
						{{{ content }}}
					</main>

					<nav class="nav-wrapper" aria-label="Page navigation">
						<!-- Mobile navigation buttons -->
						{{#previous}}
							<a rel="prev" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters previous" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
									<path d="M4 10l9 9 1.4-1.5L7 10l7.4-7.5L13 1z"/>
								</svg>
							</a>
						{{/previous}}

						{{#next}}
							<a rel="next" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters next" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
									<path d="M7 1L5.6 2.5 13 10l-7.4 7.5L7 19l9-9z"/>
								</svg>
							</a>
						{{/next}}

						<div style="clear: both"></div>
					</nav>

				<nav class="nav-wide-wrapper" aria-label="Page navigation">
					{{#previous}}
						<a rel="prev" href="{{ path_to_root }}{{link}}" class="nav-chapters previous" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
								<path d="M4 10l9 9 1.4-1.5L7 10l7.4-7.5L13 1z"/>
							</svg>
						</a>
					{{/previous}}

					{{#next}}
						<a rel="next" href="{{ path_to_root }}{{link}}" class="nav-chapters next" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
								<path d="M7 1L5.6 2.5 13 10l-7.4 7.5L7 19l9-9z"/>
							</svg>
						</a>
					{{/next}}
				</nav>
			</div>
		</div>

		{{#if livereload}}
		<!-- Livereload script (if served using the cli tool) -->
		<script type="text/javascript">
			var socket = new WebSocket("{{{livereload}}}");
			socket.onmessage = function (event) {
				if (event.data === "reload") {
					socket.close();
					location.reload(true); // force reload from server (not from cache)
				}
			};

			window.onbeforeunload = function() {
				socket.close();
			}
		</script>
		{{/if}}

		{{#if search_js}}
		<script src="{{ path_to_root }}elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ path_to_root }}mark.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ path_to_root }}searcher.js" type="text/javascript" charset="utf-8"></script>
		{{/if}}

		<script src="{{ path_to_root }}book.js" type="text/javascript" charset="utf-8"></script>
		{{#if is_print}}
		<script type="text/javascript">
		window.addEventListener('load', function() {
			window.setTimeout(window.print, 100);
		});
		</script>
		{{/if}}
	</body>
</html>
